<?php

namespace {{ namespace|safe }};

use Mindy\QueryBuilder\Migration;

class {{ name|safe }} extends Migration
{
    protected $db = '{{ db }}';

    public function safeUp()
    {
{{ safeUp|safe }}
    }

    public function safeDown()
    {
{{ safeDown|safe }}
    }
}