.breadcrumbs-container {
  .breadcrumb-list {
    @include reset-list;
    @include clearfix;

    li {
      float: left;
      font-size: .95rem;
      color: $asbestos;

      &:not(:last-child) {
        margin-right: 5px;
      }

      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}