.button {
  padding: 5px 10px;
}

[type="submit"] {
  padding: 7px 10px;
}

.button,
[type="submit"] {
  box-sizing: content-box;
  background: {
    color: $main-color;
  }
  outline: none;
  color: #fff;
  font-weight: 700;
  @include antialias;
  border-radius: $border-radius;
  text-decoration: none;
  border: $border-size solid transparent;

  & + .button {
    margin-left: 5px;
  }
}