.button {
  box-sizing: content-box;
  background: {
    color: $main-color;
  }
  outline: none;
  color: #fff;
  font-weight: 700;
  @include antialias;
  padding: 5px 10px;
  border-radius: $border-radius;
  text-decoration: none;
  border: $border-size solid transparent;

  & + .button {
    margin-left: 5px;
  }
}