#map {
  height: 450px;
  width: 100%;
  background: {
    color: #f1f1f1;
  }
}

.contacts-container {
  .contacts-content {
    @include antialias;
    margin-bottom: 40px;

    a {
      text-decoration: none;
    }

    p {
      margin: 0;
    }
  }

  .contacts-brief {
    @include antialias;
    margin-bottom: 40px;
  }

  .contacts-file {
    .contacts-brief-container {
      p {
        margin: 0;
        font-size: 1.05rem;
        @include antialias;
      }

      .contacts-brief-buttons {
        margin-top: 10px;
      }
    }
  }

  .contacts-list {
    li {
      text-align: center;
      padding: 120px 0 30px;
      transition: opacity .2s ease;
      opacity: 0;
      //@include transform(scale(10));
      background-color: transparent;
      background-position: 50% 30px;
      background-repeat: no-repeat;
      background-size: 80px;
      color: $text-color;

      p {
        margin: 0;
        font-size: 1.05rem;

        &.contacts-list-title {
          color: $asbestos;
          font-size: .95rem;
        }
      }

      a {
        color: $text-color;

        &:hover {
          text-decoration: underline;
        }
      }

      &.one {
        background-image: url(../images/svg/phone.svg);
        @include transition-delay(0.2s);
      }

      &.two {
        background-image: url(../images/svg/geo.svg);
        @include transition-delay(0.3s);
      }

      &.three {
        background-image: url(../images/svg/clock.svg);
        @include transition-delay(0.4s);
      }

      &.four {
        background-image: url(../images/svg/mail.svg);
        @include transition-delay(0.5s);
      }

      &.five {
        background-image: url(../images/svg/star.svg);
        @include transition-delay(0.6s);
      }

      &.six {
        background-image: url(../images/svg/skype.svg);
        @include transition-delay(0.7s);
      }
    }
  }
}

#contacts-form {
  margin-bottom: 30px;

  h1 {
    font-size: 1.2rem;
    margin: 40px 0;
  }

  .form-row {
    margin-bottom: 20px;
    position: relative;
  }
}