@media #{$small-only} {
  @include sticky-footer(240px, ".wrapper", ".push", ".footer");
}

@media #{$large-up} {
  @include sticky-footer(100px, ".wrapper", ".push", ".footer");
}

.push {
  margin: 0;
}

.footer {
  min-width: 640px;
  box-shadow: 0 -1px 0 rgba($text-color, .1);

  .footer-container {
    padding: 15px 0;
    font-size: rem-calc(14px);
    color: $text-gray-color;
    @include antialias;

    p {
      margin: 0;
    }

    a {
      color: $text-gray-color;
      text-decoration: underline;
    }

    .footer-contact-list {
      li {
        padding-bottom: 5px;

        @media #{$large-up} {
          padding-bottom: 0;
        }
      }
    }

    .copyright-container {
      @media #{$large-up} {
        text-align: right;
      }
    }
  }
}