@include sticky-footer(100px, ".wrapper", ".push", ".footer");

.push {
  margin: 0;
}

.footer {
  background: {
    color: #384352;
  }
  color: #fff;
  font-weight: 600;

  a {
    color: #fff;
    text-decoration: none;
  }

  .footer-container {
    line-height: 100px;
    @include antialias;

    .footer-copyright {
      float: right;
    }

    .footer-menu-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}