.img-icon-logo,
.img-icon-home,
.img-icon-code,
.img-icon-f1,
.img-icon-design,
.img-icon-mobile,
.img-icon-geo,
.img-icon-icq,
.img-icon-mail,
.img-icon-phone,
.img-icon-skype,
.img-icon-time,
.img-icon-grid,
.img-icon-left,
.img-icon-right,
.img-icon-up,
.img-icon-code-small,
.img-icon-design-small,
.img-icon-mobile-small,
.img-icon-f1-small,
.img-icon-down,
.img-icon-star,
.img-icon-text,
.img-icon-done {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  zoom: 1;
}

/* Шапка */
.img-icon-logo {
  background-image: url('../images/font/top/logo1x.jpg');
}

.img-icon-home {
  background-image: url('../images/font/top/home1x.jpg');
}

/* Главная */
.img-icon-code {
  background-image: url('../images/font/main/code1x.jpg');
}

.img-icon-f1 {
  background-image: url('../images/font/main/f11x.jpg');
}

.img-icon-design {
  background-image: url('../images/font/main/design1x.jpg');
}

.img-icon-mobile {
  background-image: url('../images/font/main/mobile1x.jpg');
}

/* Контакты */
.img-icon-geo {
  background-image: url('../images/font/contacts/geo1x.jpg');
}

.img-icon-icq {
  background-image: url('../images/font/contacts/icq1x.jpg');
}

.img-icon-mail {
  background-image: url('../images/font/contacts/mail1x.jpg');
}

.img-icon-phone {
  background-image: url('../images/font/contacts/phone1x.jpg');
}

.img-icon-skype {
  background-image: url('../images/font/contacts/skype1x.jpg');
}

.img-icon-time {
  background-image: url('../images/font/contacts/time1x.jpg');
}

.img-icon-done {
  background-image: url('../images/font/contacts/done1x.png');
}

/* Портфолио */
.img-icon-grid {
  background-image: url('../images/font/portfolio/grid1x.jpg');
}

.img-icon-left {
  background-image: url('../images/font/portfolio/left1x.jpg');
}

.img-icon-right {
  background-image: url('../images/font/portfolio/right1x.jpg');
}

.img-icon-up {
  background-image: url('../images/font/portfolio/up1x.png');
}

/* Услуги */
.img-icon-code-small {
  background-image: url('../images/font/services/code-small1x.jpg');
}

.img-icon-design-small {
  background-image: url('../images/font/services/design-small1x.jpg');
}

.img-icon-mobile-small {
  background-image: url('../images/font/services/mobile-small1x.jpg');
}

.img-icon-f1-small {
  background-image: url('../images/font/services/f1-small1x.jpg');
}

.img-icon-down {
  background-image: url('../images/font/services/down1x.png');
}

.img-icon-star {
  background-image: url('../images/font/services/star1x.jpg');
}

.img-icon-text {
  background-image: url('../images/font/services/text1x.jpg');
}

/* О нас */
.img-icon-question {
  background-image: url('../images/font/about/quest1x.jpg');
}

.img-icon-plus {
  background-image: url('../images/font/about/plus1x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Главная */
  .img-icon-code {
    background-image: url('../images/font/main/code.jpg');
  }

  .img-icon-f1 {
    background-image: url('../images/font/main/f1.jpg');
  }

  .img-icon-design {
    background-image: url('../images/font/main/design.jpg');
  }

  .img-icon-mobile {
    background-image: url('../images/font/main/mobile.jpg');
  }

  /* Контакты */
  .img-icon-geo {
    background-image: url('../images/font/contacts/geo.jpg');
  }

  .img-icon-icq {
    background-image: url('../images/font/contacts/icq.jpg');
  }

  .img-icon-mail {
    background-image: url('../images/font/contacts/mail.jpg');
  }

  .img-icon-phone {
    background-image: url('../images/font/contacts/phone.jpg');
  }

  .img-icon-skype {
    background-image: url('../images/font/contacts/skype.jpg');
  }

  .img-icon-time {
    background-image: url('../images/font/contacts/time.jpg');
  }

  .img-icon-done {
    background-image: url('../images/font/contacts/done.png');
  }

  /* Портфолио */
  .img-icon-grid {
    background-image: url('../images/font/portfolio/grid.jpg');
  }

  .img-icon-left {
    background-image: url('../images/font/portfolio/left.jpg');
  }

  .img-icon-right {
    background-image: url('../images/font/portfolio/right.jpg');
  }

  .img-icon-up {
    background-image: url('../images/font/portfolio/up.png');
  }

  /* Услуги */
  .img-icon-code-small {
    background-image: url('../images/font/services/code-small.jpg');
  }

  .img-icon-design-small {
    background-image: url('../images/font/services/design-small.jpg');
  }

  .img-icon-mobile-small {
    background-image: url('../images/font/services/mobile-small.jpg');
  }

  .img-icon-f1-small {
    background-image: url('../images/font/services/f1-small.jpg');
  }

  .img-icon-down {
    background-image: url('../images/font/services/down.png');
  }

  .img-icon-star {
    background-image: url('../images/font/services/star.jpg');
  }

  .img-icon-text {
    background-image: url('../images/font/services/text.jpg');
  }

  /* О нас */
  .img-icon-question {
    background-image: url('../images/font/about/quest.jpg');
  }

  .img-icon-plus {
    background-image: url('../images/font/about/plus.jpg');
  }
}

/* Шапка */
.img-icon-logo.mobile, .img-icon-home.mobile {
  font-family: 'studio107';
  background-image: none;

  &:before {
    font-style: normal;
    font-family: 'studio107';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  &.img-icon-home {
    &:before {
      content: "\e00f";
    }
  }

  &.img-icon-logo {
    &:before {
      content: "\e00c";
    }
  }
  //background-image: url('../images/font/top/logo.jpg');
}
