.index-hero-container {
  box-shadow: 0 0 80px rgba(#000, 0.8) inset;
  background: {
    color: #384352;
    image: url(../images/index/hero.jpg);
    position: 50% 50%;
    repeat: no-repeat;
    size: 100% auto;
  }
  margin-bottom: 40px;
  height: 522px;
  color: #fff;
  @include antialias;
  text-align: center;
  padding: 40px 0;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
  }
}