.service-container {
  margin-bottom: $block-margin;

  .service-list {
    @include reset-list;
    margin-top: $block-margin;

    $iconSize: 124px;

    li {
      @include clearfix;
      margin-bottom: $block-margin;

      .service-item {
        @media #{$small-only} {
          text-align: center;
        }

        @media #{$medium-up} {
          padding: 20px;
        }

        .service-icon {
          transition: all .2s ease;
          position: relative;
          height: $iconSize;
          text-align: center;

          @media #{$small-only} {
            margin-bottom: 20px;
          }

          @media #{$medium-up} {
            width: 200px;
            float: left;
            margin-bottom: 20px;
          }

          svg {
            height: $iconSize;

            path {
              transition: all .2s ease;
            }
          }
        }

        .service-title {
          font-weight: 900;
          @include antialias;
          font-size: rem-calc(20px);
          margin-top: 0;

          a {
            color: $text-color;
          }

          @media #{$small-only} {
            margin-bottom: 10px;
          }

          @media #{$medium-up} {
            margin-bottom: 0;
          }
        }

        .service-content {
          line-height: 22px;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 20px;
          @include antialias;

          @media #{$medium-up} {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.services-page-container {
  margin-bottom: 40px;

  .service-page-content {
    margin-bottom: 40px;

    &, p {
      font-size: 1.05rem;
      line-height: 26px;

      @media #{$retina} {
        font-size: 1.25rem;
      }
    }

    ul, ol {
      list-style: none;
      margin-left: 20px;
      padding: 0;

      li {
        position: relative;
        margin-bottom: 5px;

        &::after {
          $size: 8px;
          border-radius: $border-radius;
          position: absolute;
          display: block;
          left: -20px;
          top: 10px;
          content: " ";
          width: $size;
          height: $size;
          background: {
            color: $main-color;
          }
        }
      }
    }
  }
}