.support-container {
  @include antialias;
  margin: $block-margin * 2 0;

  .support-list {
    @include reset-list;

    li {
      margin-bottom: $block-margin;
      border-bottom: $border-size solid $clouds;
    }
  }

  .support-icon {
    text-align: center;
  }

  .support-title {
    font-size: rem-calc(48px);
    text-align: center;
    font-weight: 900;
    line-height: 58px;
  }

  .support-content {
    line-height: 24px;
    font-size: rem-calc(17px);
  }

  .support-tariff-item {
    @include antialias;
    box-shadow: 0 0 6px 0 rgba(#000, 0.26);
    border-radius: $border-radius;
    padding: 15px;

    .support-tariff-title {
      font-size: rem-calc(24px);
      font-weight: 900;
      margin-bottom: $block-margin / 2;
    }

    .support-tariff-content {
      p {
        margin: 0;
        font-size: rem-calc(15px);
      }
    }

    .support-tariff-price {
      text-align: center;
      margin: $block-margin 0 $block-margin / 2;
      font-size: rem-calc(32px);
      font-weight: 900;

      .support-tariff-currency {
        font-size: rem-calc(18px);
      }
    }
  }
}