.svg-icon-code {
  background: {
    color: transparent;
    position: 0 0;
    repeat: no-repeat;
  };
}

.svg-icon-code {
  background-image: url(../images/svg/code.svg);
}

.svg-icon-design {
  background-image: url(../images/svg/design.svg);
}

.svg-icon-f1 {
  background-image: url(../images/svg/support.svg);
}

.svg-icon-mobile {
  background-image: url(../images/svg/mobile.svg);
}