.team-list {
  @include reset-list;
  text-align: center;
  margin: 40px 0;

  li {
    @include inline-block;
    margin: 0 12px 50px;
    height: 150px;
    width: 210px;

    p {
      margin: 0;
      font-size: 1.05rem;
      @include antialias;
    }
  }
}