<div class="recipe-list-item">
    <a href="{{ recipe.getAbsoluteUrl() }}" class="recipe-list-item-image">
        {% if recipe.image.value %}
            <img src="{{ recipe.image.url_thumb }}" alt="{{ recipe }}" />
        {% else %}
            <img src="//placehold.it/340x260" alt="{{ recipe }}" />
        {% endif %}
    </a>
    <div class="recipe-list-item-content">
        <a href="{{ recipe.getAbsoluteUrl() }}">{{ recipe }}</a>
        <div class="recipe-list-item-footer">
            <span class="recipe-list-item-time">
                {% include "icons/clock.svg" %}
                2h
            </span>
            <div class="recipe-list-item-cal">
                374cal
            </div>
        </div>
    </div>
</div>