{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="columns small-12">
            <h2>Новые</h2>
            <ul class="small-block-grid-4">
                {% for recipe in new_recipes %}
                    <li>
                        {% include "recipe/_view.html" %}
                    </li>
                {% endfor %}
            </ul>

            <h2>Популярные</h2>
            <ul class="small-block-grid-4">
                {% for recipe in popular_recipes %}
                    <li>
                        {% include "recipe/_view.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}